  [[name]] was nominated for the Service to Students award.

  A description of the service for the student body was provided it says, "[[service]]".

  This candidate deserves this award because [[distin]]. 

  Other information about this candidate is [[other]].
