#container {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	text-align:left;
	width: 860px;
}
#head {
	width: 800px;
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	text-align:center;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: left top;
	background-image: url(img/bkg.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	top: auto;
	overflow: hidden;
}
.topnewsBottom {
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #C3C3C3;
	border-bottom-color: #C3C3C3;
}

#mainCell {
	background-image: url(img/template_07.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 689px;
	width: 815px;
}
#mainTable {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 95%;
}
.left {
	float: left;
	width: 450px;
	margin: 0px;
	padding: 0px;
}
.right {
	float: right;
	width: 353px;
	margin: 0px;
	padding: 0px;
}
.topNews {
	margin-left: 10px;
	text-align: justify;
	margin-right: 10px;
}
#mainCell2 {
	background-image: url(img/template1_07.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 689px;
	width: 815px;
}
